body {
    text-align: center;
}

.resultScreen {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3; /*文字色*/
    background: #FFF;
    border: solid 3px #6091d3; /*線*/
    border-radius: 10px;
    height: 700px;
    width: auto;
}

h2 {
    padding: 10px;
    background: #E0E0E0;
    position: relative;
    width: 600px;
    top: -2px;
    left: 293px;
}

    h2:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 5%;
        border: 0.5em solid transparent;
        border-top: 1.3em solid #E0E0E0;
        text-align: center;
    }